<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>G@mingLi$t - Add a game</title>
    <link rel="stylesheet" href="/templates/css/login.css">
</head>
<body class="main-body">
    <section class='main'>
        <form action='/addG' id='form' method="post">
            <span>
                Welcome (add session variable)
            </span>
            <span>
                Choose a video game to add it in your game list
            </span>
                <select id="gameList">
                    <!-- Select to the database -->
                    {% for game in gameList %}
                        <option value={{ game[0] }}>{{ game[1] }}, {{ game[2] }}</option>
                    {% endfor %}
                </select>
                <button type="submit">ADD</button>
                <input type="hidden" name="add-game">
        </form>
        <form action ='/' id="view-list">
            <span>
                To see your game list :
            </span>
            <button type='submit'>LIST</button>
        </form>

    </section>
</body>
</html>