<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>G@mingLi$t - Game list</title>
    <link rel="stylesheet" href="/templates/css/login.css">
</head>
<body class="main-body">
<section class='main'>
    <form>
        <span>
            Your game list

        <table>
            <ul>
                <li>zerz</li>
                <li>zerz</li>
                <li>zerz</li>
                <li>zerz</li>
            </ul>
        </table>
        </span>

    </form>
</section>
</body>
</html>