<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>G@mingLi$t - Game list</title>
    <link rel="stylesheet" href="/templates/css/login.css">
</head>
<body class="main-body">
<section class='main'>
    <span>
        Hello {{VarUsername}}
    </span>
    <form action='/viewList' id='form-go-list' method="post">
        <span>
            Click to see your game list
        </span>
        <button type='submit'>YOUR LIST</button>
    </form>
    <br>
    <br>
    <form action='/addGame' id='form-go-add' method="post">
        <span>
            Click to add a game in your list
        </span>
        <button type='submit'>ADD GAME</button>
    </form>
</section>
</body>
</html>
