<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>G@mingLi$ - login</title>
</head>
<body class="login-body">
	<section class='login'>
		<link rel="stylesheet" href="/templates/css/login.css">
		<form  id='form' name="form-login" method="post">
			<span>
				Welcome to G@mingLi$t
			</span>
			<br>
		  <label for='username'>
			Username
			<input id='username' name="username" type='text' required>
		  </label>
		  <label for='password'>
			Password (8 characters minimum)
			<input id='password' type='password' minlength="8" required>
		  </label>
		  <button type='submit'>Login</button>
		</form>
	</section>
</body>
