<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>G@mingLi$ - login</title>
</head>
<body class="login-body">
	<section class='login'>
		<link rel="stylesheet" href="/templates/css/login.css">
		<form action='javascript:void(0);' id='form'>
			<span>
				Welcome to G@mingLi$t
			</span>
			<br>
		  <label for='username'>
			Username
			<input id='username' type='text'>
		  </label>
		  <label for='password'>
			Password
			<input id='password' type='password'>
		  </label>
		  <button type='submit'>Login</button>
		</form>
	</section>
</body>
