<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>G@mingLi$t - HomePage</title>
    <link rel="stylesheet" href="/templates/css/login.css">
</head>
<body class="main-body">
    <section class='main'>
        <form action='javascript:void(0);' id='form'>
            <span>
                                Welcome (add session variable)
            </span>
            <span>
                Choose a video game to add it in your game list
            </span>
                <select id="">
                    <option value="">--Please choose a game--</option>
                    <!-- Select to the database -->
                </select>
                <button type='submit'>ADD</button>

            <span>
                To see your game list :
            </span>
            <button type='submit'>LIST</button>

        </form>
    </section>
</body>
</html>